<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirsPage</title>
    <link rel="stylesheet" type="text/css" href="/openingpage.css"/>
</head>
<body>
<header>
    <h1 align="center">Welcome to 'Paradise'</h1>
    <a href="https://greenfoxacademy.com">Information</a>
    <br>
</header>
<br>
<img src="/greenfox.png" style="float: top" alt="">
<p>This is Mr.Fox. Currently living on pizza  and lemonade. He knows  2 tricks.</p>
<h2>Known tricks</h2>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>

