<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirsPage</title>
    <link rel="stylesheet" type="text/css" href="/loginpage.css"/>
</head>
<body>
<header>
    <h1 align="left">Welcome to Programmer Fox Club!</h1>
    <br>
    <br>
    <p align="left">Please provide a name, so you can associate it to your pet!</p>
</header>
<tbody>
<tr>
    <p align="left">Name
        <input type="text" placeholder="" required/>
        <input type="submit" value="OK"/>
    </p>
</tbody>
</body>
</html>


