body {

  font-size: 20px;
  font-family:  'Lucida Sans Unicode';
  color: dimgrey;
  background-color: blue;
}

table {
  width: 700px;
  height: 300px;
}


.thead {
  background-color: black;
  color: bisque;
}

td {
  border: 0px solid white;
  background: #ccc;
  padding: 10px;
}